moosecap.db
.env*
*.db
*.log
*.pyc
.DS_Store
.cache/
.coverage
.idea/
.venv/
.vscode/
/.pytest_cache/
/.venv/
/d6dice.egg-info/
build/
d6engine.egg-info/
dist/
docs/build/
output/
pip-wheel-metadata/
venv/
wheelhouse/
